
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contacto</h2>
<br />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

  

@Html.Label("Full Name", "Nombre Completo", new { @class = "label" })
@Html.TextBox("txtNombre", "", new { @placeholder = "Ingrese su Nombre Completo", @class = "fields" })

@Html.Label("Full Name", "Numero Telefonico", new { @class = "label" })
@Html.TextBox("txtTelefono", "", new { @placeholder = "Ingrese su Telefono", @class = "fields" })

@Html.Label("Mail", "Mail", new { @class = "label" })
@Html.TextBox("txtMail", "", new { @placeholder = "Ingrese su Mail", @class = "fields" })

@Html.Label("Full Name", "Mensaje", new { @class = "label" })
@Html.TextBox("txtMensaje", "", new { @placeholder = "Ingrese su Mensaje", @class = "fields-height" })

<input type="submit" id="button" value="Enviar" />
}

<br />
<div>
    @Html.ActionLink("Home", "Index", "", new { @class = "link" }) 
</div>