@model System.Collections.Generic.IEnumerable<DTO.DtoPrestamo>

@{
    ViewBag.Title = "Deudores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deudores</h2>
<br />

<table id="mitabla1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Libro.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrestamoEstado.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrestamoEstado.Fecha)
        </th>
        <th>
            Codigo Usuario
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Libro.Cantidad)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Libro.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrestamoEstado.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrestamoEstado.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Libro.Cantidad)
            </td>
        </tr>

    }
</table>

<input type="submit" id="button" value="Notificar Usuarios Por Mail" />

@section Scripts
{
    <script type="text/javascript">
        // Cuando el body se carga JQuery esta listo para usarse
        $(document).ready(function () {
            // Cuando se Escribe en el Text Box Search
            //$("#txtCantidad").on("mouseleave",function () {
            //  Cuando el Valor no es Vacio
            $("#button").click(function(){
                alert('Se han notificado a todos los usuarios correspondientes');
            });
        });
    </script>
}